* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "header header"
    "nav content"
    "rodape rodape";
}

.grid div:nth-child(1) {
    display: flex;
    background: red;
    grid-area: header;
    justify-content: space-between;
    align-items:center;
}

.grid div:nth-child(2) {
    background: yellow;
    grid-area: nav;
} .grid ul li {list-style:none;}

.grid div:nth-child(3) {
    background: violet;
    grid-area: content;
}

.grid div:nth-child(4) {
    background: cyan;
    grid-area: rodape;
}

@media all and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-rows:auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "content"
        "nav "
        "rodape";
    }

}