:root {
    --primary-color:#13A8AA;
    --white-color: #ffffff;
    --gap: 3rem;
    --light-grey-color: #c9c7c7;  
    --secundary-color: #065557;
    --menu-text-color: #055c5e;
    --title-for-white: #055c5e;
}